.env
.venv/
__pycache__/
*.pyc
data/archives/
data/raw/
data/cache/
data/processed/
runs/
checkpoints/
models/*.pt
models/*.pth
data/archives/**/*.tgz
data/archives/**/*.7z
data/archives/**/*.rar
data/archives/**/*.zip
data/archives/**/*.tar.gz
/xnerf-malware-archives/
desktop.ini
reports
